<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="ParentSectionGroup01">
      <section name="ChildA" type="System.Configuration.NameValueSectionHandler"/>
      <section name="ChildB" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
    <section name="Test001" type="System.Configuration.NameValueSectionHandler" />
    <section name="Test002" type="System.Configuration.NameValueSectionHandler" />
    <section name="Test003" type="System.Configuration.NameValueSectionHandler" />
    <section name="Test004" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <appSettings>
    <add key="NumOfSection" value="4"/>
    <add key="NumOfSectionGrp" value="1"/>
  </appSettings>
  <ParentSectionGroup01>
    <ChildA>
      <add key="SectionID" value="C0001"/>
      <add key="Description" value="Sub-section under ParentSectionGroup01"/>
    </ChildA>
    <ChildB>
      <add key="SectionID" value="C0002"/>
      <add key="Description" value="Sub-section under ParentSectionGroup01"/>
    </ChildB>
  </ParentSectionGroup01>
  <Test001>
    <add key="SectionID" value="T0001"/>
    <add key="Description" value="Test one-layer section group 1" />
    <add key="Path" value="..\Test001" />
  </Test001>
  <Test002>
    <add key="SectionID" value="T0002"/>
    <add key="Description" value="Test one-layer section group 2" />
    <add key="Path" value="..\Test002" />
  </Test002>
  <Test003>
    <add key="SectionID" value="T0003"/>
    <add key="Description" value="Test one-layer section group 3" />
    <add key="Path" value="..\Test003" />
  </Test003>
  <Test004>
    <add key="SectionID" value="T0004"/>
    <add key="Description" value="Test one-layer section group 4" />
    <add key="Path" value="..\Test004" />
  </Test004>
</configuration>
